body.album{
    background: linear-gradient(217deg, rgba(82, 53, 128, 0.8), rgba(82, 53, 128,0) 70.71%),
    linear-gradient(336deg, rgba(216, 166, 177, 0.8), rgba(252, 229, 221, 0) 70.71%),
    linear-gradient(127deg, rgba(67, 129, 187, 0.8), rgba(31, 123, 209,0) 70.71%);
    /* background-image: url('../assets/images/blurred_backgrounds/blur_bg_3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover; */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.album-container {
    position: relative;
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
.album-cover-art {
    position: relative;
    width: 100%;
    top: 1.5%;
}

.album-info {
    position: relative;
    top: 1.5rem;
    padding: 1.5rem;
}

.album-info h2, h3, h5 {
    margin: 0 0 7px 0;
    color: var(--beige);
}
.album-view-title{
    font-size: 1.8rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px rgba(0,0,0, .2);
}
.album-view-artist {
    font-size: .9rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0,0,0, .2);
}
.album-view-release-info {
    font-size: 0.8rem;
    font-weight: 400;
    text-shadow: 1px 1px 1px rgba(0,0,0, .2);
}

.album-view-song-list {
    width: 75%;
    margin: 1.5rem 11% 3rem 11%;
    font-weight: 500;
    font-size: .8rem;
    border-collapse: collapse;
    color: var(--beige);
}

/* tbody:nth-child(even) {
    background-color: rgba(147, 176, 210, .1);
}
tbody:nth-child(odd) {
    background-color: rgba(147, 176, 210, .3);
} */

.album-view-song-item {
    height: 3rem;
    border-bottom: 1px solid var(--beige);
}

.song-item-number {
    width: 1%;
    min-width: 30px;
    text-align: center;
}
.song-item-title {
    width: 95%;
    padding-left: 15px;
}
.song-item-duration {
    width: 5%;
    text-align: right;
}

.album-song-button {
    text-align: center;
    font-size: 13px;
    background-color: var(--beige);
    color: var(--blue);
    border-radius: 50%;
    display: inline-block;
    width: 28px;
    height: 28px;
    transition: all .3s ease;
}
.album-song-button:hover {
    cursor: pointer;
    background-color: var(--blue);
    color: var(--beige);
}
.album-song-button span {
    line-height: 28px;
}

@media (max-width: 640px) and (min-width: 320px) {
    .album-container {
        grid-template-columns: 1fr;
    }
    .album-cover-art {
        left: 0;
        width: 40%;
    }
    .album-info {
        text-align: center;
    }
    .album-view-title {
        margin-top: 0;   
    }
}